body {
	font-family: 'Bowlby One SC', cursive;
	text-align: center;
}

.horizontal-divider {
	width: 550px;
	height: 3px;
	margin: 0 auto;
	background-color: black;
	background: linear-gradient(to right, #ffffff 0%, #000000 20%,
																				#000000 80%, #ffffff 100%);
}

#game-container {
	width: 450px;
	height: 450px;
	margin: 30px auto 50px;
	background-image: url('grid.png')
}

.square {
	width: 150px;
	height: 150px;
	float: left;
	margin: 0;
	cursor: pointer;
}

.taken {
	cursor: default;
}

.ex {
	background-image: url('ex.png');
}

.oh {
	background-image: url('oh.png');
}

#game-over {
	position: absolute;
	top: 350px;
	left: 0;
	right: 0;
	margin: auto;
	width: 300px;
	height: 100px;
	background-color: rgba(128,128,128,0.9);
	border: 2px solid #555;
	border-radius: 10px;
	display: none;
}

#win-text {
	font-size: 32px;
	color: white;
	margin: 0;
}